html{
  height:92%;
}

.title{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image:url('../image/main.jpg');
  background-size:100% 100%;
  background-color: #08298A;
}
h2{
  text-align:center;
  margin-bottom:0px;
}
body{
  display:grid;
  grid-gap:5px;
  grid-template-rows: 2fr 7fr;
  margin:0px;
  font:Sans-serif;
  height:100%;
}
.content{
  font-size:20px;
  height:100%;
  width:100%;
  margin:0px;
}
.submitBtn{
  width:30px;
}
.submitBtn-container{
  text-align:right;
}
input{
  font-size: 20px;
  font-weight: normal;
  width:150px;
  height:22px;
  margin:0px;
  margin-left:10px;
  padding:0px;
}
.mail-container div{
  font-weight: bold;
  font-size:20px;
  text-align: right;
  width:80%;
  height:auto;
  margin-bottom:10px;
}
.mail-container{
  margin-top:20px;
  justify-items: center;
  height:100%;
  width:100%;
  display:grid;
  grid-gap:5px;
  grid-template-rows: auto auto auto 1fr auto auto;
}