<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>규원짱에게 보내는 편지</title>
  </head>
  <body>
    <div class='title'>
      <h1>규원이의 큣트큐트한 인터넷 편지,,,💌</h1>
    </div>
    <div>
      <form class='mail-container' action = "/" method = "POST">
        <div class='input_div'>이름<input type='text' name='name'></div>
        <div class='input_div'>관계<input type='text' name='relation'></div>
        <div class='input_div'>제목<input type='text' name='title'></div>
        <div class='input_div'><textarea class='content' name='content'>1200자 미만</textarea></div>
        <div class='input_div'>비밀번호<input type='text'name='password'></div>
        <div><input type='submit' value='📬'></div>
      </form>
    </div>
  </body>
</html>

